:global .container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.FormBox {
    width: 60%;
    background: #d3e0ea;
    margin: 0 auto;
    padding: 30px;
    border-radius: 5px;
    text-align: left;
}

.Input {
    margin-bottom: 15px;
}
.Input label {
    text-transform: uppercase;
    font-weight: 600;
    color: #19456b;
    display: block;
}

.Input input, .Input textarea, .Input select {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 4px;
    border: 1px solid silver;
    margin-top: 5px;
}

.submit {
    text-align: right;
}

.submit input {
    border: 0;
    padding: 10px 15px;
    background-color: #fb743e;
    color: white;
    margin: 5px;
    border-radius: 4px;
    cursor: pointer;
}

.submit input:disabled {
    opacity: .3;
    cursor: not-allowed;
}

.submit input:focus,
.submit input:hover {
    background: #d3450d;
}