.Navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.NavigationItem {
    margin: 15px;
}

.NavigationItem a {
    text-decoration: none;
    color: #383e56;
}

.NavigationItem a:hover,
.NavigationItem a[aria-current="page"] {
    color: #fb743e;
    font-weight: bold;
    padding: 10px;
    border: 1px solid #383e56;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.084);
}